@font-face {
    font-family: "BigBlueTerm437 Nerd Font";
    src: url("fonts/BigBlueTerminal/BigBlueTerm437NerdFont-Regular.ttf");
}


.background_image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('images/bkg3.jpg');
    width: 1200px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.container1 {
    position: relative;
    width: 50%;
    height: 200px;
    margin: auto;
    border-left: 10px;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    text-align: center;
}

.center_vert {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Text adn other objects */
h1 {
    font-family: "BigBlueTerm437 Nerd Font";
}
p {
    font-family: "BigBlueTerm437 Nerd Font";
    color: red;
}
